
/* app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  text-align: center;
}

.nav-logo {
  width: 30px;
}

.navv {
  background-color: black !important;
}

.image {
  position: absolute;
}

.hero {
  position: relative;
  top: 0px;
}

/* Hero */

.title img {
  width: 400px; /* Adjust for larger screens if needed */
}

.title h1 {
  text-align: left;
  font-size: 7rem;
}

.container p {
  text-align: left;
  font-size: 1.5rem;
  color: white;
  margin-left: 5px;
}

.bgimg {
  width: 100%;
  position: absolute;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 200px; /* Adjust margin-top for desired hero height */
  position: relative;
}

.hero {
  position: fixed;
}

/* eef6ed */

/* Feature section */
.feature-section {
  background-color: #eef6ed;
  height: 100px;
  position: relative;
  margin-top: 300px;
}

/* Media queries for responsive image scaling */
@media (max-width: 768px) {
  .bgimg {
    height: 500px;
    width: 390px;
  }

  .title img {
    width: 200px;
    margin-top: -100px;
  }
}

/* 5c7051 */
.Food{
  background-color: #5c7051;
  /* height: ; */
  display: flex;
  flex-direction: row;
}

.card{
  height: 264px;}

#root{
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.nav-logo{
  width: 30px;
}

.navv{
  background-color: black !important;
}

.image{
  position: absolute;
}

.hero{
  position: relative;
  top: 0px;
}

/* Hero */


.title img{
  /* height: 80px; */
  width: 400px;
}

.title h1{
  text-align: left;
  font-size: 7rem;
}

.container p{
  text-align: left;
  /* margin-top: -20px; */
  font-size: 1.5rem;
  color: white;
  margin-left: 5px;
}

.bgimg{
  width: 100%;
  position: absolute;
}

.title{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  position: relative;
  /* margin-top: 20px; */
}