.bgColor {
    background-color: #042B23; 
    padding: 20px;
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .card-image {
    text-align: center; 
    margin-bottom: 10px; 
  }
  
  .card-image img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
  
  .card-text {
    color: #333; 
  }

  .card-wrapper {
    transition: transform 0.3s ease; 
    display:flex;
    justify-content: center;
    align-items: center;
    margin:30px;
  }
  
  .card-wrapper:hover {
    transform: scale(1.05); 
  }

  .card-wrapper .card{
    background-color: #eef6ed;
  }

  .card-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(5, 62, 42);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .card-link:hover {
    background-color: rgb(9, 72, 50);
  }
  
  